* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  /* 1 rem = 10 px */
  height: 100%; }

body {
  font-family: "roboto" sans serif;
  font-size: 1.2rem;
  min-height: 100%; }

.grid__container {
  display: grid;
  gap: 1rem;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 60px auto 60px; }

@media (min-width: 600px) {
  .grid__container {
    grid-template: "header" 80px "main" auto "footer" 100px; } }

@media (min-width: 900px) {
  .grid__container {
    grid-template: "header" 100px "main" auto "footer" 50px; } }

.footer {
  display: flex;
  justify-content: center;
  margin: 5rem;
  font-weight: bold;
  color: #c4b3df; }

@media (min-width: 600px) {
  .footer {
    font-size: 1rem;
    font-weight: 200; } }

@media (min-width: 900px) {
  .footer {
    font-size: 2rem;
    font-weight: 100; } }

.header {
  height: 10rem; }
  .header .nav {
    font-size: 2.1rem;
    display: flex;
    justify-content: space-between;
    font-family: "roboto" sans-serif;
    max-width: 2400px;
    margin: 0 auto;
    line-height: 10rem; }
    .header .nav .logo {
      font-size: 4rem;
      color: #c4b3df;
      font-family: recursive;
      line-height: 10rem;
      font-weight: bold;
      padding: 0 4rem; }
    .header .nav .nav__menu {
      font-weight: 900;
      margin-right: 20rem;
      display: flex;
      flex-direction: row;
      list-style-type: none;
      gap: 3rem; }
    .header .nav .nav__menu--link {
      color: #c4b3df;
      text-decoration: none;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 0.5rem; }
    .header .nav .nav__menu--item {
      font-size: 1.6rem;
      padding: 0.8rem 0.12rem; }
    .header .nav .nav__menu--link:hover {
      background-color: rgba(21, 39, 46, 0.733);
      color: #265f8d;
      transition: 0.5s; }
    .header .nav .nav__toggle {
      color: #c4b3df;
      background: none;
      border: none;
      font-size: 3rem;
      padding: 0 2rem;
      line-height: 10rem;
      cursor: pointer;
      display: none; }

@media (min-width: 768px) and (max-width: 899px) {
  .header {
    height: 8rem; }
    .header .nav {
      display: flex;
      justify-content: space-between; }
      .header .nav .logo {
        font-size: 2rem;
        color: #c4b3df;
        font-family: recursive;
        line-height: 8rem; }
      .header .nav .nav__menu {
        text-decoration: none;
        list-style-type: none;
        font-weight: 900;
        margin-right: 8rem; }
      .header .nav .nav__menu--link {
        font-size: 2rem; }
      .header .nav .nav__menu--item {
        padding: 0 1rem;
        line-height: 8rem; }
      .header .nav .nav__menu--link:hover {
        transition: 0.5s; }
      .header .nav .nav__toggle {
        background: none;
        border: none;
        font-size: 3rem;
        padding: 0 2rem;
        line-height: 10rem;
        display: none; } }

@media (max-width: 767px) {
  .header {
    grid-area: header;
    height: 6rem; }
    .header .nav {
      font-size: 3.1rem;
      display: flex;
      justify-content: space-between;
      margin: 0 auto; }
      .header .nav .logo {
        font-size: 1.6rem;
        color: #c4b3df;
        font-family: recursive;
        line-height: 6rem;
        font-weight: bold;
        padding: 1rem  1.6rem 3rem 1rem;
        font-size: 2.6rem; }
      .header .nav .nav__menu {
        background-color: rgba(21, 39, 46, 0.733);
        flex-direction: column;
        align-items: center;
        font-weight: 900;
        margin-right: 20rem;
        list-style: none;
        position: fixed;
        left: 100%;
        top: 6rem;
        width: 100%;
        gap: 3rem;
        padding: 0;
        height: calc(100% - 6rem);
        overflow-y: auto;
        z-index: 10; }
      .header .nav .nav__menu--link {
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 0.5rem; }
      .header .nav .nav__menu--item {
        font-size: 3rem;
        padding: 0.8rem 0.12rem;
        line-height: 6rem; }
      .header .nav .nav__menu--link:hover {
        transition: 0.5s;
        color: #c4b3df; }
      .header .nav .nav__toggle {
        background: none;
        color: #c4b3df;
        border: none;
        font-size: 5.6rem;
        padding: 0 2rem;
        line-height: 6rem;
        cursor: pointer;
        display: block; }
      .header .nav .nav__menu--visible {
        left: 0; } }

.main .container .title {
  text-align-last: center; }
  .main .container .title .title__text {
    color: #c4b3df;
    font-size: 2rem;
    padding: 2rem; }

.main .container .parrafo {
  font-size: 1rem;
  color: #2626af; }

@media (min-width: 600px) {
  .main .container .title .title__text {
    color: #c4b3df;
    font-size: 2rem;
    padding: 2rem;
    text-align-last: center; }
  .main .container .parrafo {
    font-size: 3rem;
    color: #2626af; } }

@media (min-width: 900px) {
  .main .container .title {
    text-align-last: center; }
    .main .container .title .title__text {
      color: #c4b3df;
      font-size: 4rem;
      padding: 2rem; }
  .main .container .parrafo {
    font-size: 2.6rem;
    color: #2626af;
    display: flex;
    margin: 5rem 0rem 5rem; } }

.body {
  background-color: #265f8d; }

.subtitle__about {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  margin-bottom: 5rem; }

.subtitle__about--p {
  font-size: 2rem;
  color: #c4b3df;
  padding: 2rem 0; }

@media (max-width: 767px) {
  .subtitle__about {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 3rem; }
  .subtitle__about--p {
    padding: 2rem;
    font-size: 1rem;
    color: #c4b3df; } }

.main .container .total__compra {
  color: #c4b3df;
  font-size: 2rem; }

.main .container .imgProducts {
  width: 15rem;
  height: 20rem;
  object-fit: contain;
  margin: 1.1rem; }

.main .container .card {
  display: flex;
  align-items: center;
  margin: 0.4rem;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #265f8d; }

.main .container .colorBotonera {
  color: #ff0084;
  background-color: #c4b3df;
  font-size: 1.6rem;
  font-weight: bold; }

.main .container .colorBotonera:hover {
  background-color: #976870;
  color: #ece7e7; }
